$bg-color: #333;
$body-color: #fff;
$body-font-family: "Arial", "Consolas";
$body-font-size: 12pt;

$text-color-dark: #333;
$text-color-light: #ccc;

$active-color: #3b73b9;

$nav-h: 40px;
$ads-h: 160px;

$workspace-h: 400px;

$theme-color: #009688;
$theme-color-input: #2C5943;
$theme-color-btn: #1FB154;
